.env
*.pyc
vendor/*
Assignee_Lawyer_Disambiguation/lib/alchemy/config.ini
Assignee_Lawyer_Disambiguation/lib/config.py
.DS_Store
venv
.idea
.vscode
*.yml
*.yaml
mydumper/*
!mydumper/mydumper.cnf.template
Development/config.ini
airflow/*
!airflow/dags/*
!airflow/airflow.cfg.template
airflow-metadata-db-disk
airflow_pipeline_env.sh
Development/dev_config.ini
Assignee_Lawyer_Disambiguation/lib/alchemy/alchemy_config.ini
airflow-metadata-db-disk/*
airflow/logs/
data/
Scripts/Website_Database_Generator/New_Organization copy/*
node_modules/
app-db-exploration
QA_*
output/
upload_*/*
*_qa_loc*
**/*.log
archive/*
**/.ipynb_checkpoints
updater/create_databases/merge_status.json
airflow_db_production/
experiments
exp_out
scratch
*.bak/
**/*.pid
**/*.out
**/*.err
pgpubs_*
resources/sql.conf
resources/us-patent-application-*.dtd
config.ini
airflow-metadata-*
patent_db_disk/
TableToggle.json
Z_Frame_job-*.csv
