[submodule "lib/loader"]
	path = lib/loader
	url = git@github.com:American-Institutes-for-Research/mysql-dumper-loader.git
[submodule "lib/utils"]
	path = lib/utils
	url = git@github.com:American-Institutes-for-Research/pv-utilities
[submodule "updater/disambiguation/hierarchical_clustering_disambiguation"]
	path = updater/disambiguation/hierarchical_clustering_disambiguation
	url = git@github.com:PatentsView/PatentsView-Disambiguation.git
[submodule "gender_it"]
	path = gender_it
	url = https://github.com/PatentsView/gender_it.git
