elasticsearch==8.1.0
numpy==1.20
git+https://github.com/PatentsView/grinch.git
git+https://github.com/PatentsView/sent2vec.git
Cython
PyMySQL
SQLAlchemy
Unidecode
absl-py
beautifulsoup4
boto3
clint
editdistance
lxml
matplotlib
mysql-connector-python
networkx
nltk
pandas
pathos
pendulum
python_Levenshtein
python_dateutil
requests
scikit-learn
scipy
slack_sdk
sqlparse
tabulate
textdistance
thebrainfuck
thefuzz
torch
tqdm
wandb
xlrd