Cython
pytz
pandas==1.1.3
mysqlclient
SQLAlchemy
boto3
bs4
pymysql
lxml
fuzzywuzzy
python-Levenshtein
textdistance
tqdm
unidecode
sqlparse
jupyter
slackclient==1.3.1
celery[redis]
apache-airflow[celery,postgres,hive,jdbc,mysql]
clint