*.pyc
vendor/*
Assignee_Lawyer_Disambiguation/lib/alchemy/config.ini
Assignee_Lawyer_Disambiguation/lib/config.py
.DS_Store
venv
.idea
docker-compose.yaml
docker-compose-debug.yaml
mydumper/
Development/config.ini
airflow/airflow-webserver.pid
airflow/airflow.db
airflow/lawyer.pickle
airflow/logs/scheduler/2019-01-15/update-db.py.log
airflow/logs/scheduler/2019-01-16/update-db.py.log
airflow/logs/scheduler/latest
airflow-metadata-db-disk
airflow/unittests.cfg
Development/dev_config.ini
Assignee_Lawyer_Disambiguation/lib/alchemy/alchemy_config.ini
airflow-metadata-db-disk/*
airflow/logs/
data/
Scripts/Website_Database_Generator/New_Organization copy/*
node_modules/
app-db-exploration
QA_*
output/
upload_*/*
*_qa_loc*
**/*.log
archive/*
**/.ipynb_checkpoints
updater/create_databases/merge_status.json
airflow_db_production/
experiments
exp_out
scratch
*.bak/
**/*.pid
**/*.out
**/*.err
pgpubs_*
config.ini