*-journal
bmschema.txt
dump.sql
tmp*
results*.txt
.sass*
.DS_*
*~
*.swp
*.csv
tmp/
*.log
invpat*.csv
*.pyc
*.sqlite3
data/
fibo.py
NBER_asg
loctbl
latex/
html/
*.project
.pydevproject
hashTbl
test1/
test_loc.sql
patentroot/
.settings/
XML/*
*.s3
*.db
*.pickle
build/
tags
*.cmd

*.pid # pid files
dump.rdb # redis dump

*.aux
*.idx
*.out
*.pdf
*.tex
*_files
*.ipynb_checkpoints
*.tsv
.idea/
mid.txt
.metadata
.recommenders
location-dismabiguation/geolocation_data/
